ROXCHAOS_PROJECT_NAME=roxchaos
ROXCHAOS_DB_NAME=roxchaos_development
ROXCHAOS_QUEUE_DB_NAME=roxchaos_development_queue
ROXCHAOS_ROXIA_PORT=3180
ROXCHAOS_API_PORT=8180

DATABASE_HOST=host.docker.internal
DATABASE_PORT=3307
DATABASE_USERNAME=mariadb
DATABASE_PASSWORD=mariadb

ROXCHAOS_ORGANISATION=CD06
ROXCHAOS_NORMAL_INPUT=../RoxIA/documents/extract_4_TAB.output.csv
ROXCHAOS_AUDIT_INPUT=../RoxIA/documents/AUDIT_extract_TEST_TAB.output.csv
ROXCHAOS_INPUT_ROWS=3
ROXCHAOS_INFERENCE_SLEEP_SECONDS=5
ROXCHAOS_TIMEOUT_SECONDS=900
ROXCHAOS_KEEP_STACK=0
